// theme colors
$primary1: #495E57;
$primary2: #F4CE14;

$secondary1: #EE9972;
$secondary2: #FBDABB;
$secondary3: #EDEFEE;
$secondary4: #333333;

$base-border-radius: 16px;

$markazi-font-regular: 400;
$markazi-font-medium: 500;
$markazi-font-semibold: 600;
$markazi-font-bold: 700;
