.container {
  padding: 60px 10px 120px 10px;
  position: relative;
}

.content {
  max-width: 858px;
  width: 100%;
  margin: auto;
}

.aboutDescription {
  max-width: 370px;
  width: 100%;
}

.imagesContainer {
  & > img {
    position: absolute;
    width: 365px;
    border-radius: 8px;
  }
  & > img:nth-child(1) {
    top: 240px;
    left: 50%;
    bottom: 0;
  }
  & > img:nth-child(2) {
    top: 130px;
    left: 54%;
    bottom: 0;
  }
}

@media only screen and (max-width: 780px) {
  .aboutDescription {
    display: flex;
    flex-direction: column;
    max-width: none;
    justify-content: center;
  }

  .imagesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
    & > img {
      position: static;
      width: 100%;
    }
  }
}
