.container {
  max-width: 858px;
  width: 100%;
  margin: auto;
}

.cardsContainer {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.ctaContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
