@import "styles/variables";
.container {
  max-width: 858px;
  margin: auto;
  padding: 5px 0 80px 0;
  display: flex;
  justify-content: center;
}

.formField {
  border: 2px solid black;
  border-radius: 8px;
  padding: 8px 20px;
  margin-bottom: 5px;
  width: 100%;
  &:disabled {
    border: 2px solid $secondary5;
  }
}

.formFieldError {
  color: darkred;
}

.formContainer {
  max-width: 400px;
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0.1;
  }
}

.loadingForm {
  opacity: 0.5;
  pointer-events: none;
  animation: fadeIn 1s infinite alternate;
}
